.presentacion {
    position: relative;
    width: 100%;
    height: 208px;
    max-height: 228px;
}

.presentacion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--degradadoCompleto);
    z-index: 0;
}

.presentacionImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentacionContenedor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.presentacionContenedor .container {
    height: 100%;
    padding: 29px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TWITTER */

.twitterContenedor{
margin-top: 150px;
margin-bottom: 100px;
border-radius: var(--borderRadius);
justify-content: center;
display: flex;
padding: 0px;
box-shadow: var(--boxShadow1);
}




/* bloque que es un corredor */
/* .boxQueEsUnCorredor{
color: var(--textoAzul);
font-family: var(--fontSecundaria);
margin-top: 40px;
display: flex;
flex-direction: column;
}

.boxQueEsUnCorredor h2{
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
    margin-bottom: 20px;
   text-align: justify;
}

.boxQueEsUnCorredor img{
    width: 100%;
   border-radius: 6.14px;
   margin-top: 16px;
   margin-bottom: 16px;
}
.boxQueEsUnCorredor p{
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
 text-align: start;
}

.intesidadTexto{
margin-top: 20px;
font-weight: 800;
} */

@media screen and (min-width: 890px){
    

    .presentacionContenedor .container {
        justify-content: center;
    }

    .twitterContenedor{
        margin-bottom: 300px;
        }
    
    /* bloque que es un corredor Desktop
    .boxQueEsUnCorredor{
    margin-top: 91px;
    }
    
    .boxQueEsUnCorredor h2{
        font-size: 36px;
        line-height: 49px;
        font-weight: 800;
        margin-bottom: 16px;
       text-align: justify;
    }
    
    .boxQueEsUnCorredor img{
       border-radius: var(--borderRadius);
       margin-top: 40px;
       margin-bottom: 40px;
    }
    .boxQueEsUnCorredor p{
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
    }
    
    .intesidadTexto{
    margin-top: 20px;
    font-weight: 800;
    } */


}